html {
    font-size: 12px;
}

body {
    max-width: 80em;
    margin: 10px auto 20px auto;
    padding: 0.5em;
    background-color: #D9D1D1;
    font: Helvetica, Arial, sans-serif;
}


/*[Jay] Testing out collapsable data for Company Name*/

.company-dropdown {
    margin: 5px auto;
    width: 80em;
    background-color: #E5DFDF;
}

.company-dropdown > * {
    width: 100%;
    box-sizing: border-box;
}

.collapsible {
    cursor: pointer;
    margin: 0;
    padding: 5px;

    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 6px;
}

.content {
    display: none;
    padding: 0 15px;
    width: 100% !important;
}

.button {
    text-align: center;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #d9d1d1;
    border-radius: 6px;
}


table, th, td {
    border: 1px solid black;
    background-color: #d9d1d1;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}



.template {
    display: none;
}
