html {
    font-size: 12px;
}

body {
    max-width: 80em;
    margin: 10px auto 20px auto;
    padding: 0.5em;
    background-color: #D9D1D1;
    font: Helvetica, Arial, sans-serif;
}


/*[Jay] Testing out collapsable data for Company Name*/

.company-dropdown {
    margin: 5px auto;
    width: 100%;
    max-width: 50em;
    background-color: #E5DFDF;
}

.company-dropdown > * {
    width: 100%;
    box-sizing: border-box;
}

.collapsible {
    cursor: pointer;
    margin: 0;
    padding: 5px;

    text-align: left;
    border: none;
    font-size: 15px;
    border-radius: 6px;
}

.company-dropdown .job-status {
    display: inline-block;
    float: right;

    background-color: black;
    color: white;

    border-radius: 3px;
    padding: 2px;
}

.company-dropdown .hiring {
    background-color: #94aa2a;
}

.company-dropdown .freeze {
    background-color: #6ba8a9;
}

.content {
    display: none;
    padding: 0 15px;
    width: 100%;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

.template {
    display: none;
}
