<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}} - Jobcore</title>
		<!-- Dependencies -->

		<!-- App -->
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
	  <h1>Welcome to Job Core!!</h1>
          <div id="company-dropdowns">
          </div>


          <div class="template" id="company-dropdown-template">
            <div class="company-dropdown">
              <button class="collapsible"><p>COMPANY NAME</p></button>
              <div class="content clearfix">
                <div class="job">
                  <a href="#" class="tag job-apply">APPLY <img src="/static/external-link.png"></a>
                  <h3 class="job-position">JOB TITLE</h3>
                  <p class="job-description">JOB DESCRIPTION</p>
                </div>
              </div>
            </div>
          </div>

          <div class="template" id="job-template">
            <div class="job">
              <a class="tag job-apply">APPLY <img src="/static/external-link.png"></a>
              <h3 class="job-position">JOB TITLE</h3>
              <p class="job-description">JOB DESCRIPTION</p>
            </div>
          </div>
	  <!-- Dependencies -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
		  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
		  crossorigin="anonymous"></script>
	  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>


	  <!-- App -->
	  <script src="{{url_for('static', filename='js/app.js')}}"></script>
	</body>
</html>
